body {
    background-color: bisque;
}

#ref-div {
    display: flex;
    width: 30%;
    margin-left: 10px;
}

#ref-button {
    height: 25px;
    margin-top: 23px;
    margin-left: 15px;
    width: 40%;
}

#display {
    border: 2px solid black;
    width: 30%;
}

.white {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    height: 23px;
}

.black {
    background-color: grey;
    margin-top: 0;
    margin-bottom: 0;
    height: 23px;
}

#add-section-div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

input {
    width: 70%;
    height: 23px;
    margin-bottom: 10px;
}

#submit-score {
    width: 40%;
    margin-left: 100px;
}